<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Fina</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fina.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fina</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.fina.deposit</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Внесение</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Добавить деньги</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrow.down.circle.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.fina.withdrawal</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Списание</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Убрать деньги</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrow.up.circle.fill</string>
		</dict>
	</array>
</dict>
</plist>
